[2022-02-13 14:46] LGhassen commented on #151
That's just aliasing

[2022-02-13 17:11] TJBotSN commented on #151
Gotcha its unfortunate but ive got around it.

[2022-02-16 00:41] Kopernicus-Shadows2 opened #152 "Shadows extremely low quality, sudden quality shifts"
The integrated shadows are very low quality under regular settings, and have very sudden and obvious quality cutoffs based upon distance:
![20220215193857_1](https://user-images.githubusercontent.com/93224219/154174016-b1068335-b357-4629-bad9-a527e0ed7ab0.jpg)
The cutoff is visible in the shadow of the deployable solar panel.

[2022-02-16 07:34] LGhassen commented on #152
Not an issue, that's the default game's shadows. Use one of the higher presets (from scatterer menu accessed by the blue icon in the lower right corner in ksc screen) or configure your own shadows.

[2022-02-16 07:34] #152 closed

[2022-02-20 13:54] LGhassen commented on #146
Plugin source is updated (GPL 3).
Newest shaders source are not public but they are distributed in assetbundle form under CC BY-NC-ND 4.0. They are loaded dynamically and are not necessary to build the plugin, they can be replaced by custom shaders.

[2022-02-20 13:54] #146 closed

[2022-02-20 16:27] daimdaimyo opened #153 "Ocean Shader Glitch"
KSP: 1.12.3.3173 (WindowsPlayer x64) en-us -force-d3d11 (idk where to put this sorry)
OS: Windows 10 (10.0.0) 64bit
Scatterer version: v0.0831
Desciption:
When I have the ocean shaders enabled, water starts dancing around. But this issue disappear when I turn it off.

[KSP.log](https://github.com/LGhassen/Scatterer/files/8104405/KSP.log)
(Btw my gpu is amd radeon hd 6770m but for some reason, ksp

[2022-02-20 17:07] LGhassen commented on #153
It is NOT being used if it doesn't appear in the log. You should probably look at that.

This is a duplicate issue of https://github.com/LGhassen/Scatterer/issues/127 so i'll just close this and add your logs there.

[2022-02-20 17:07] #153 closed

[2022-02-20 17:08] LGhassen commented on #127
Report from @daimdaimyo posted here https://github.com/LGhassen/Scatterer/issues/153

[2022-02-20 17:10] #151 closed

[2022-02-21 04:15] daimdaimyo commented on #153
UPDATE: I tried using -force-opengl and somehow it fixed the problem. Weird.

![Screenshot (188)](https://user-images.githubusercontent.com/79315701/154888089-34eb1634-faa3-4f38-bcd2-c758a347b5ea.png)

[2022-03-03 17:32] Ilikekerbals opened #154 "invisibilty of the ground, buildings, crafts ect"
Basicly when i load in theres no ground and i can see very faint outlines of the ksc so basicly i dont know how to really explain it or do.

[2022-03-03 22:38] LGhassen commented on #154
Please provide logs, images and reproduction steps. If I can't reproduce the issue I can't help you.

[2022-03-05 03:52] capwindow2 opened #155 "atmospheres too thick"
so in the instructions it says that experimentalAtmoScale, when set to certain number values, basically raises/lowers the atmosphere
well, in the atmospheric configs of all the planets, that configuration didn't exist in my files
i tried adding my own, spelled it out right, spaced it right, etc
it still wouldn't change the atmosphere height or thickness or whatever
for eve, thats the only planet i

[2022-03-05 10:42] LGhassen commented on #155
If using versions after 0.0772 the atmospheres work differently (I haven't updated the docs but there are notes in the release notes). There is an in-game atmo tab (alt-f11 -> atmosphere) where there is an "auto rescale" field (see here https://www.youtube.com/watch?v=u6Jxgc-cYcc), use that to rescale the atmo. If using ModuleManager configs you'll have to copy out the resulting values manually to

[2022-03-06 16:53] capwindow2 commented on #155
ok, ill have to try that today

[2022-03-06 16:54] capwindow2 commented on #155
thank you tho

[2022-03-06 19:44] capwindow2 commented on #155
Ok so
i tried using the in game menu, but it never saves any of my changes when i look at another planet- it keeps saying, in the [cfg file used] part (in red text) ModuleManager patch detected, saving disabled @LGhassen

[2022-03-06 22:30] LGhassen commented on #155
Thay's why I said If using ModuleManager configs you'll have to copy out the resulting values manually to the ModuleManager config. Ie find the mod that modifies the config and edit the .cfg files there.

[2022-03-06 22:30] #155 closed

[2022-03-07 00:55] capwindow2 commented on #155
Forgive my ignorance, but... how exactly would I find the specific mod that modifies ModuleManager? I have 80+ installed right now...

[2022-03-07 13:26] LGhassen commented on #155
That's up to you. You installed an atmosphere config mod so you should have a rough idea. Or just do a search for "Scatterer_atmosphere" in all *.cfg files in GameData.

[2022-03-07 16:11] capwindow2 commented on #155
Oh, ok
I'll try that

[2022-03-09 16:13] Aebestach opened #156 "kerbin color abnormal"
![contrast_1](https://user-images.githubusercontent.com/64588584/157482507-f4c5569a-4870-4fc8-8edb-0e56a70f4ac3.jpg)
![contrast_2](https://user-images.githubusercontent.com/64588584/157482523-55fcb73c-63d2-4f1e-b550-c525c4cc5016.jpg)

Hi,another.
When I use Scatterer and kopernicus, Kerbin planet color has changed, and I am not very clear from which MOD problem (because I use Scatterer and koperni

[2022-03-09 16:15] Aebestach commented on #156
Scatterer V0.0831
Kopernicus Release-85

[2022-03-10 01:18] Aebestach commented on #156
All of these options is set to 1 in Scatterer, then the problem is resolved.
![work](https://user-images.githubusercontent.com/64588584/157568017-d82c485f-9e5a-4926-bd11-25557130d93e.png)

[2022-03-10 01:18] Aebestach commented on #156
However, in normal conditions, the color will become a bit dark.
![pic](https://user-images.githubusercontent.com/64588584/157568049-f85ab90d-99bb-44b0-89a5-b066befc9957.jpg)

[2022-03-10 01:53] Aebestach commented on #156
And the problem with this color is randomly, may be different every time you open the game.

[2022-03-10 10:39] LGhassen commented on #156
What you're trying to say is that these adjustments don't work with Kopernicus. Got it.

[2022-03-10 12:16] Aebestach commented on #156
It is when Scatterer and Kopernicus use, the color of the Kerbin planet will exceed the color, and it is random. I am not very clear that Scatterer's question or Kopernicus, so I reported this Issue.

[2022-03-11 13:47] LGhassen commented on #156
This seems like a genuine issue when using scatterer+kopernicus. You can leave the issue open unless you found something else.

[2022-03-20 15:48] LGhassen opened #157 "TAA broken with TUFX"
https://forum.kerbalspaceprogram.com/index.php?/topic/103963-wip19x-112x-scatterer-atmospheric-scattering-00831-01022022-scattering-improvements-in-game-atmo-generation-and-multi-sun-support/&do=findComment&comment=4104674

[2022-03-24 09:05] LGhassen commented on #154
Probably you started the game in dx12?
In any case I'm closing the issue due to no info provided. You can reopen it when you add logs/images.

[2022-03-24 09:05] #154 closed

[2022-04-03 17:41] LGhassen commented on #127
@Ceriousyt can you test if this fixes your issue? replace the files from the latest release with these
https://mega.nz/file/SdR3EQBB#NRqw1c8zaWgwDhELUhFTm0rc0QxP_VeSz14XXAWCvT8

[2022-04-03 17:41] LGhassen commented on #153
@daimdaimyo Can you test this? https://github.com/LGhassen/Scatterer/issues/127#issuecomment-1086915412

[2022-04-03 17:41] LGhassen commented on #138
@paper342 can you test this? https://github.com/LGhassen/Scatterer/issues/127#issuecomment-1086915412

[2022-04-03 18:03] daimdaimyo commented on #127
@LGhassen
![image](https://user-images.githubusercontent.com/79315701/161441698-e86b3ba5-eca2-4d09-94ae-8a9dd6306351.png)

[2022-04-03 19:10] LGhassen commented on #127
Thanks for testing, I will send you another build soon

[2022-04-03 19:11] LGhassen commented on #127
@daimdaimyo you made sure to use the .dll and shaders from 835 with the configs if 831 right?

[2022-04-03 19:32] Ceriousyt commented on #127
This Issue is actually long gone, fotgot to close It, I built a new pc, the
6800xt doesn't have the same Issue my r9 had.

вс, 3 апр. 2022 г., 21:11 LGhassen ***@***.***>:

[2022-04-03 19:36] Ceriousyt commented on #127
It seems my R9 was lacking some required dx11 featuresets, it ran on the
A10 5750m APU.

вс, 3 апр. 2022 г., 19:41 LGhassen ***@***.***>:

[2022-04-04 01:46] daimdaimyo commented on #127
Yes I did

[2022-04-05 20:22] R-T-B commented on #156
Interesting.  I wonder if this could be Kopernicus's fault?  Truth be told I am very unfamiliar with a lot of the code still, so it could be lurking in our code base somewhere.  I will keep an eye out.

[2022-04-06 10:12] LGhassen commented on #156
@R-T-B kopernicus unloads the texture and loads it when needed as part of load on demand.
Scatterer modifies the texture, I have code to detect when kopernicus loads/unloads but it may be janky, other issues have been reported with it so technically the issue is on Scatterer's side.

[2022-04-06 16:12] LGhassen commented on #127
@daimdaimyo test if either of these builds fixes it:

- build a: https://mega.nz/file/3QoHiTRK#jyLGd45CXhHATtMBFyr9-IDOLUM0ykijs7H5Z6nWFos

- build b: https://mega.nz/file/jNJQTKxA#pfFJw4Eshc5sIIyb-TGGfa8AdPaAfrYWXnbKlkYjILI

[2022-04-08 16:21] LGhassen commented on #157
Fix in 0.0834

[2022-04-08 16:21] LGhassen commented on #144
Fixed in 0.0834

[2022-04-08 16:21] #144 closed

[2022-04-08 19:44] LGhassen commented on #135
For this issue it seems to be that the transparent flag shader doesn't write to the prepass depth buffer so scatterer cannot "see" it. It also means these flags don't cast or receive shadows.

I can't think of a simple way to fix it apart from re-writing a flag shader, or trying to add a second material to flags which only writes to depth buffer. Both of these solutions don't inspire me and I cons

[2022-04-08 22:35] Lafayette028 opened #158 "TAA causes UI and texture jittering 0.0834"
With the new default TAA some textures in flight and UI in map screen are jittering. Focus on Apoapsis marker in map view or mountain poking through clouds in flight for an example. Gets worse with lower framerate/frametimes. Disabling TAA and enabling SMAA fixes the issue
[KSP.log](https://github.com/LGhassen/Scatterer/files/8455635/KSP.log)

[2022-04-09 10:10] LGhassen commented on #158
Thanks for the report, as said in the forum thread:
[code]
 I consider it quite mild though so probably not going to fix it, if someone else wants to though, they can.

[2022-04-10 01:39] R-T-B commented on #156
I see.  Thanks for updating me.  I released my other bugfixes as is since this seems to be on your end, rather than trying to do pointless code sleuthing.  Thanks.

[2022-04-12 05:44] LGhassen commented on #157
Reportedly still broken in map view

[2022-04-13 15:55] Rodg88 opened #159 "TAA causing weird blurring on waterfall plumes"
Using 0.0834, TAA seems to be doing something weird with waterfall plumes for me, with fps at least in the 20-30s:

https://cdn.discordapp.com/attachments/794875695942860810/963819857395212318/unknown.png

https://cdn.discordapp.com/attachments/794875695942860810/963820228146495538/unknown.png (edited to actually add the 2nd image)

Disabling TAA in the scatterer settings stopped it from happening

[2022-04-13 18:43] LGhassen commented on #159
Looks like it's just trails? If it's the case It's unfixable because waterfall plumes are transparencies that don't write to the depth buffer so their motion (or lack thereof) isn't estimated correctly, instead it assumes that's part of the surface behind, and it passes the color validation because the colors are close enough to the current frame's plume color.

Marked as "won't fix" but it's beca

[2022-04-13 19:26] Rodg88 commented on #159
It was just the waterfall trails yeah. I'm happy with just playing without TAA.

[2022-04-13 19:48] LGhassen commented on #159
I didn't mean waterfall trails, I meant a trailing effect

[2022-04-15 11:13] LGhassen commented on #159
Hmm I saw a video of this and it seems like waterfall plumes may be generating motion vectors. May be fixable after all, I'll have to test

[2022-04-15 15:26] LGhassen commented on #159
@Rodg88 I locked the game at 25 fps and tested with waterfall and waterfall stock plumes, didn't get either of your issues.

I'm closing this unless you add a reliable way of reproducing it.

[2022-04-15 15:26] #159 closed

[2022-05-03 18:15] Rodg88 opened #160 "Atmosphere blocking sun"
As per forum post, except I've found it also happens without GPP_Rescale (or TUFX), it was just not happening in the low orbit I first tested with. So it happens in both unscaled and rescaled versions of GPP, just in higher orbits. I'm guessing it could be due to pre-0.8 configs in GPP, but it still seems like weird behavior.

Another example
before sunset:
https://cdn.discordapp.com/attachments/7

[2022-05-04 08:46] Rodg88 commented on #160
tested really turning down the thickness and scale, and it still occurs, just for a shorter time as there's less atmo for the sun to be behind.

[2022-05-11 08:58] JonnyOThan commented on #158
The temporal antialiasing from TUFX does not cause the same UI jittering in the space center view, so there must be some way to do this.  It does have other problems in map/tracking station so I’m OK with leaving it off there.

[2022-05-14 18:37] JonnyOThan commented on #158
@LGhassen  does jitterSpread correspond to one of the fields in the scatterer GUI?   I tried playing around with them a bit and wasn't really able to find a setting that both didn't cause UI jittering and looked as good as TUFX's implementation.

On a related note, if I disable TAA in scatterer and leave it enabled in TUFX, it seems to get turned off every time I switch to map mode and back.  I ha

[2022-05-14 18:40] LGhassen commented on #158
That issue has already been reported: https://github.com/LGhassen/Scatterer/issues/157

TAA in Scatterer and TUFX are separate so it's not that simple, it's more of a bad interaction.

[2022-05-14 19:07] JonnyOThan commented on #157
I'm not quite understanding the bug that was reported here.  If AA is disabled in TUFX, does it still affect scatterer?  Because I'm pretty sure the reverse IS true: if TAA is disabled in scatterer, it disables TUFX's antialiasing setting.

I prefer TUFX for TAA for 2 reasons: it looks better than scatterer's version and it doesn't jitter the UI.  But the problem is that it seems to be disabled ev

[2022-05-14 21:18] LGhassen commented on #157
"Reportedly still broken in map view", it's broken regardless of scatterer having TAA or not, it's that simple.

[2022-05-20 08:16] daimdaimyo commented on #127
@LGhassen I am sorry that I didn't tested this a month a ago. I didn't have the time to play at that month BUT I just tested it today and here are the results:

Build a:
![screenshot4](https://user-images.githubusercontent.com/79315701/169482198-e8fe42b7-6735-42e2-bd5f-002d1ddc533e.png)

Build b:
![screenshot6](https://user-images.githubusercontent.com/79315701/169482633-75f5bd58-5420-468d-98f2-3d

[2022-05-20 08:53] LGhassen commented on #127
@daimdaimyo thank you, I didn't include the changes in last release because I was still waiting on feedback. I will send you a new build based on the latest release you can test.

[2022-05-29 11:22] Dojan88 commented on #127
I'm getting this bug also. I tried turning all the other settings under ocean shaders off, but to no avail. Everything is fine with ocean shaders disabled.

Scatterer v0.0835 from CKAN. Many other mods also, but I get this with only scatterer installed fresh.
AMD Radeon HD6870 1GB gddr5, with driver version 15.301.1901-160226a-318064E, Core I7 950, 18 GB ram, 1080p

Thanks for your amazing work :)

[2022-05-29 17:24] daimdaimyo commented on #127
Try using those builds from his previous replies. One of those files helped fixed my problem. It might fix yours.

[2022-06-01 13:25] JonnyOThan opened #161 "TAA remains active in IVA mode after turning it off in settings"
I turned off TAA in scatterer’s settings, but it seems to still be active when I enter IVA mode. It causes noticeable blurring/fading when switching screens on the MFDs (which is actually a kind of cool effect to simulate LCD response) and when moving props.  I temporarily removed scatter to verify and the blurring disappeared.

[2022-06-08 10:14] JonnyOThan commented on #157
Huh, someone pointed out to me that TUFX’s problem with persisting AA settings is a known issue and not related to scatterer.  I was pretty sure I tested without scatterer installed at all but I must have missed something.  Sorry about that :(

[2022-06-08 12:46] LGhassen opened #162 "Sunflare size breaks when zooming in on the star"
When zooming in closer than a few radii, size breaks regardless of scaleCurve.

Reported by WarriorSabe

[2022-06-21 21:38] LGhassen opened #163 "Sunflares broken on linux due to path issue"
Reported by @Technologicat

https://forum.kerbalspaceprogram.com/index.php?/topic/103963-wip19x-112x-scatterer-atmospheric-scattering-00835-22042022-scattering-improvements-in-game-atmo-generation-and-multi-sun-support/&do=findComment&comment=4147060

[2022-06-23 15:33] Technologicat commented on #163
Thanks for creating the issue ticket :)

Do you want a PR, or do you prefer to fix it yourself?

According to my testing, the only changes needed are the paths in `Sun.cfg`, as mentioned in the forum post.

[2022-06-24 05:33] LGhassen commented on #163
The configs repo is out of date and I don't really build the configs from it so a PR won't help.

I can tix it myself the next time, you described it well.

[2022-06-27 02:52] linuxgurugamer opened #164 "one file in csproj has an absolute file path"
I was looking at this to fix a repetitive null reference I keep getting, and saw that at line 179 in the scatterer.csproj,  the line has an absolute path:

`<Compile Include="c:\gh\scattererGithub\Scatterer\scatterer\Utilities\Occlusion\ShadowMapCopier.cs" />`

[2022-06-27 03:12] linuxgurugamer opened #165 "ReferenceEquals not working for null"
In ScreenCopyCommandBuffer.cs, in the OnDestroy() method, the following is not working:

`			if (!ReferenceEquals(targetCamera,null))
			{
`

I added a debug statement, and saw it appear in my log file:

`			if (!ReferenceEquals(targetCamera,null))
			{
				if (targetCamera == null)
					Debug.Log("ScreenCopyCommandBuffer, targetCamera is null");
`

Log snippit:
`161114 ScreenCopyCommandBuffer, ta

[2022-06-27 03:23] linuxgurugamer commented on #165
I found the same issue in SkySphereContainer.Cleanup()

[2022-06-27 19:00] R-T-B commented on #165
I noticed this as well but did not think much of it.  At any rate, I'm told blackrack is currently under-the-weather and not coding for a bit.  Just FYI.

[2022-06-29 17:38] gotmachine commented on #165
Using `ReferenceEquals()` on `UnityEngine.Object` derivatives can indeed induce unexpected behavior. It is perfectly fine to use on other classes.

To expand a bit, when doing `== null` or `Equals(null)` with an `UnityEngine.Object` derivative, what is actually checked is "is the reference null **or** is the underlying unity object destroyed". Depending on the code intent, it can be valid to perfo

[2022-06-29 17:48] gotmachine opened #166 "GameEvent leaks"
The following line :
https://github.com/LGhassen/Scatterer/blob/a4550447aa7542866587aa624160e9770454ea1f/scatterer/Effects/Proland/Ocean/OceanFFTgpu.cs#L358
should be
`GameEvents.onGameUnpause.Remove (UnPause); `

There is also a `OnCameraChange` GameEvent being leaked by the `Scatterer` class

[2022-06-29 21:28] linuxgurugamer commented on #165
@gotmachine Thank you for the explanation.

What I'm doing is monitoring the log file, and on a local copy of Scatterer, fixing the specific places where this error is occurring.  I'll do a PR in a week or so once I'm satisfied that I've found all the annoying locations.

I don't understand the codebase at all (without spending time on it), so am very reluctant to just blindly go and replace them

[2022-07-02 12:52] LGhassen commented on #165
@linuxgurugamer I'm not sure why I ever went with ReferenceEquals but from memory some objects were returning appearing as null when checking them with !=null despite not being null or destroyed, whereas with referenceEquals it was working.

Can't remember the specifics and have been putting referenceEquals everywhere since. You might as well replace them all and see if the mod still works.

Thank

[2022-07-15 17:13] MeTeOrMaSh15 commented on #155
@LGhassen hey so i know this was a while ago, but i finally got around to configuring the atmospheres
but the problem is i'm using OPM and theres no scatterer configs for those planets so i won't be able to save those atmosphere profiles
what can i do?

[2022-07-17 16:18] MeTeOrMaSh15 opened #167 "OPM Atmo configs"
So for the stock planets, in the atmo files there's a config for modifying the atmosphere on values you can preview in-game. Can you make the atmosphere appearances for the Outer Planets Mod worlds editable?
There's also problems with trying to configure planets in game- Scatterer doesn't recognize planets with oceans as having oceans, which seems to be a problem, even if the planets are stock.

[2022-07-24 02:59] Bongchong1 opened #168 "white sky"
scatter makes ksp freeze when done loading when i open it up with no mods then when i open ksp again it shows a white atmosphere i have tried version 835, 834 and 831. 8gb ram, intel i3 and intel uhd

[2022-07-24 03:00] Bongchong1 commented on #168
[KSP.log](https://github.com/LGhassen/Scatterer/files/9175031/KSP.log)
log

[2022-07-25 19:45] LGhassen commented on #168
@Bongchong1 can you try deleting ScattererAtmosphereCache from gamedata then try a clean install of 0.0835?

[2022-07-27 00:13] Bongchong1 commented on #168
ok so i did what you said i when i opened the game it froze at the title screen with no options but when i opened it up again it showed kerbin with a white atmosphere. i then went into the tracking station and zoomed in on eve and it froze, opened up ksp again and this time i saw a green looking eve. i did that for duna and the same happend but duna looked normal albeit a little darker[
![Screensh

[2022-07-29 14:02] LGhassen commented on #168
Alright, I know what's going on, I'll send you a new build to try but it may be a while before I can do that.

[2022-07-29 19:24] Bongchong1 commented on #168
ok

[2022-07-30 08:15] LGhassen commented on #168
@Bongchong1 in the meantime if you can get someone to send you their scattererAtmospherCache folder it will work.

[2022-07-30 16:50] Bongchong1 commented on #168
will do

[2022-07-31 11:31] jrodrigv opened #169 "[Feature Request] Be able to hook/render Sunflare on different cameras"
Hi. I have a KSP mods which allows to render different cameras at the same time https://youtu.be/Y_JzKbNrnvw?t=306

The problem that I have is that I don't have a way to render all the Scatterer beautiful things in the new cameras. I was wondering if it would be possible for Scatteter to provide an API to inject more cameras apart from the main one. Like an array of NearCameras and ScaledSpace cam

[2022-07-31 15:43] MeTeOrMaSh15 commented on #167
I posted the issue on the OPM github page, but it doesn't seem to be active
Do you know where I could bring up this issue to have it fixed sooner? I'd really like to be able to edit the atmospheres of the OPM planets

[2022-07-31 15:50] MeTeOrMaSh15 commented on #167
EDIT: NVM ITS IN THE AVP FOLDER

[2022-07-31 15:50] #167 closed

[2022-07-31 21:00] MeTeOrMaSh15 opened #170 "Jitters"
i'm sure by now given how many issue's ive posted you must think my computer is either haunted or i'm putting up BS, but hear me out
whenever i'm controlling a ship now in the map view, everything starts to slightly jitter up&down (link to reddit post: basically what's happening to me: https://www.reddit.com/r/KerbalSpaceProgram/comments/u33v1u/shaky_graphics_in_map_view/
people have identified th

[2022-08-02 00:59] MeTeOrMaSh15 commented on #170
@LGhassen so it was identified as a problem with the antialiasing feature, when its disabled the problem doesn't exist but i'd really like to be able to use the antialiasing feature without the map view jittering. can you possibly fix this?

[2022-08-10 13:18] LGhassen commented on #169
I will fix it so that it works automatically in the next version.

[2022-08-10 15:00] jrodrigv commented on #169
Awesome Thanks!

[2022-08-13 08:23] LGhassen commented on #165
@linuxgurugamer I'm curious if you ever experimented with this further or prepared a PR? If not no worries, and thanks for the report.

[2022-08-13 08:25] LGhassen commented on #168
@Bongchong1 please try the .dll I posted in the discord (in reply to your request for the atmo cache)

[2022-08-13 08:55] LGhassen commented on #161
Should be fixed in 0.0836 (releasing soon)

[2022-08-13 08:55] #161 closed

[2022-08-13 22:34] linuxgurugamer commented on #165
Yes, I have a number of changes, I'll do a PR for you

[2022-08-14 07:50] Bongchong1 commented on #168
same thing, froze on title screen on first launch then i got the white atmosphere again

[2022-08-14 09:08] LGhassen commented on #168
@Bongchong1 try even newer one I just posted in discord

[2022-08-14 09:10] #165 closed

[2022-08-14 09:14] LGhassen commented on #165
Looks good, I will keep an eye out for any side effects and think about replacing the rest given the explanation by @gotmachine .

[2022-08-14 09:14] #166 closed

[2022-08-14 09:14] #164 closed

[2022-08-14 09:15] LGhassen commented on #158
Fixed in 4dcbbcc , will be in the next release (0.0836+)

[2022-08-14 09:15] #158 closed

[2022-08-14 09:35] LGhassen commented on #127
@daimdaimyo could you test if this one works with the latest release? Just replace the .dll from [0.0835](https://github.com/LGhassen/Scatterer/releases/tag/835)

https://mega.nz/file/nBJ3SQiC#DBQBDwXzFnYOZpgqKvyMzRx4bMg2XWebITdI3meDE1c

[2022-08-14 09:44] LGhassen commented on #169
Just a quick question, how far apart do you expect the different camera views to be? Can one camera be in orbit and the other on the launchpad? Or are they usually very close together like in the video?

[2022-08-14 10:14] LGhassen commented on #163
Fixed in 0.0837.

[2022-08-14 10:14] #163 closed

[2022-08-14 10:15] LGhassen commented on #127
The fix is now in the latest release (0.0837). It should work based on the tests above. If it doesn't work feel free to reopen this issue @daimdaimyo @Ceriousyt @Dojan88 .

[2022-08-14 10:15] #127 closed

[2022-08-14 13:49] jrodrigv commented on #169
So I'd say that 500 km distance could be a reasonable limit (at > 500 km from  the floating origin is shaking is too bad)

[2022-08-14 16:27] Bongchong1 commented on #168
currently it has frozen 3 times on the title screen

[2022-08-18 17:50] #168 closed

[2022-08-20 03:59] MeTeOrMaSh15 opened #172 "Map Jitters/Tekto still broken"
Development here: The .838 update did not fix the map view jittering issue for me, and Tekto still has the outline on its horizon. Nobody in the AVP forums or KSP discord modding help has been able to assist with these issues, so if you could give any advice on these issues I would be very thankful. I apologize for bothering you so much with these bugs but I would very much like them fixed.
![imag

[2022-08-20 05:46] LGhassen commented on #172
Post video of the jittering + logs.

For the atmo, that is a known issue with old atmo configs or really thick ones, try to make it thinner, and also try changing the mie-G value.

[2022-08-20 10:28] LGhassen commented on #165
@gotmachine If I just create a monobehaviour with the a without adding it to a gameObject, then when doing `== null` it always returns a null, is this the expected behaviour? I guess a monoBehaviour is always supposed to be added as a component to a gameObject?

Anyway I guess this is where I started using ReferenceEquals for some things.

[2022-08-20 10:37] LGhassen commented on #170
@MeTeOrMaSh15 it's fixed

[2022-08-20 12:28] gotmachine commented on #165
Yeah, you can't instantiate a MonoBehaviour, it must be added though AddComponent().

The thing to keep in mind is that all Unity C# objects are wrappers over a C++ object.
There is no common convention about how to create Unity objects from code. Many of them can be created through a C# constructor, for example GameObject or Texture2D, but some like MonoBehaviour are using other patterns like Add

[2022-08-20 15:03] LGhassen commented on #165
Thanks a lot for the explanation.

[2022-08-20 15:14] MeTeOrMaSh15 commented on #172
This is someone else's capture of the jitter but it looks identical to mine. I know that the problem is caused by antialiasing, but I thought that was fixed in 0.0838. I don't know if the OPM configs are updated for Scattered 0.800, I'll have to ask. I'll try the mie-G value thing rn.
https://imgur.com/a/WHZQbtT

[2022-08-20 15:16] MeTeOrMaSh15 commented on #172
How do I post a log without clogging the entire issue thread?

[2022-08-20 15:26] LGhassen commented on #172
Upload it on pastebin or google drive or something

[2022-08-20 15:32] MeTeOrMaSh15 commented on #172
https://pastebin.com/WN7hpHNN here is the log

[2022-08-20 17:13] LGhassen commented on #172
No idea how your game can still jitter ¯\_(ツ)_/¯

[2022-08-20 17:34] LGhassen commented on #172
Can you try running with just scatterer and no tufx?

[2022-08-20 20:42] MeTeOrMaSh15 commented on #172
i have 97 mods installed
do you want all of them off or just visuals

[2022-08-24 22:55] nan0bug00 opened #173 "NRE Spam"
Issue tl;dr:  NRE Spam related to deleted unity object (I guess the sun that was deleted to create the transparent barycenter in Beyond Home?  I don't really know.)

![image](https://user-images.githubusercontent.com/8329580/186537444-312b0e2d-ccc2-4ff0-a065-6b601db4669a.png)

so... "hey there's more of these"

https://github.com/LGhassen/Scatterer/blob/3124f0cbaa051d77bdfb548bcc2ee054f8b36411/sca

[2022-08-25 06:14] LGhassen commented on #173
Thanks for going through with this. I already replaced all these on the dev branch https://github.com/LGhassen/Scatterer/commit/50a2f8e7bd9cdd65aadbde5aa14daea44ca90fdd haven't merged/released yet because I didn't have enough time for testing

[2022-09-02 15:59] MeTeOrMaSh15 commented on #172
@LGhassen ok so after a while ive found this
- TUFX TAA makes it jitter in map view as well, but so does Scatterer TAA. this may be why it was jittering still but ill have to see
- TUFX FXAA removes jitters, but TUFX also has other problems
- ill lyk if its still jittering without TUFX at all in map view

[2022-09-05 20:36] BrettRyland commented on #173
I'm also getting a bunch of NRE spam in Ubuntu and getting white screens in a variety of places, such as the KSC overview.
Looking at the dev branch code, the initial exceptions in my log that aren't already fixed are occuring due to
[code]
for `Camera 00`, `Camera 01`, `Camera ScaledSpace` and `Camera ScaledSpace` from (I think) this line [TemporalAntiAliasing.cs#L42](https://github.com/LGhassen/

[2022-09-05 21:08] BrettRyland commented on #173
Well, I decided to go ahead and compile it from the dev branch anyway...
After fixing the `HintPath` and capitalisation in the .csproj and .sln files and commenting out the post-build stuff (which is Windows specific), I got it to build fine, though there are a number of compiler warnings:
[code]

Then, changing `public TemporalAntiAliasing()` to `public void Awake()` fixes the above issue with th

[2022-09-05 21:10] BrettRyland commented on #173
Also,
[code]

[2022-09-06 02:12] paper342 commented on #127
I've installed the latest release, I don't get that original glitch anymore, but I now get a weird visual effect when the water is distant.

Mods:

Scatterer
Scatterer Default Config
Scatterer Sunflare
B9 Part Switch
Click Through Blocker
Toolbar Controller
Trajectories
Zero MiniAVC
EVE Redux
Waterfall Core
BetterTimewarpContinued
Stock Waterfall Effects
Module Manager

Log:
[KSP.log](https://gith

[2022-09-06 14:08] LGhassen commented on #173
Thanks @BrettRyland I will add this change and take care of the RenderTypeFixer leak.

For the warnings I'm ignoring them as long as they don't cause any harm.

[2022-09-08 12:40] BrettRyland commented on #173
Btw, there's another NRE that often shows up:
[code]
The line
[code]
in SkyNode.cs should be checking that `parentScaledTransform` isn't `null` and that the result of the `GetComponent` call isn't `null`.

[2022-09-08 13:39] BrettRyland commented on #173
And another one once the above one is fixed:
[code]

[2022-09-10 02:32] MeTeOrMaSh15 commented on #170
@LGhassen so it... isn't actually fixed. When in map view, with TUFX TAA off, and Scatterer TAA on, the game still jitters just like it used to.

[2022-09-10 02:32] #172 closed

[2022-09-10 07:45] LGhassen commented on #170
You still haven't said if it works if you uninstall tufx and other mods

[2022-09-11 14:00] JonnyOThan commented on #169
I haven't tried this yet but I think maybe switching the sunflare code to use Camera.current instead of the ScaledSpace camera might work?  Just guessing really.

[2022-09-11 14:16] JonnyOThan opened #179 "Scatterer's TAA interferes with HDR in TUFX"
When scatterer's TAA is enabled, HDR in TUFX is much less effective:

Scatterer not installed; HDR & Bloom on:
![no scatterer, HDR and bloom on](https://user-images.githubusercontent.com/9804078/189532246-edde3985-f292-4814-8674-73a4aab791ce.png)

Scatterer installed, TAA off, HDR & Bloom on:
![scatterer taa off, hdr   bloom on](https://user-images.githubusercontent.com/9804078/189532267-508c4853-

[2022-09-11 15:08] LGhassen commented on #179
Can you just use tufx's taa in that case?

[2022-09-11 15:20] LGhassen commented on #169
@JonnyOThan there is that, then the hooks have to be generalized to other cameras, extinction calculation should be moved from skynode to sunflare class and done before every camera renders, then make sure to avoid rendering twice when in opengl (2 local cameras)

[2022-09-11 17:32] JonnyOThan commented on #179
Yes, and that's what I do, but this was reported as a bug in the tufx forum thread.  I might take a look if I get tired of VR stuff.

[2022-09-11 21:27] Skezao opened #180 "Ghosting/Double Rendering Upside Down of terrain and geometry"
Hello, first time posting here so I apologize if I've done anything wrong.

Ever since I installed the scatterer mod (amazing mod btw), I've encountered an issue with the game, and only happens when Scatterer is running. Everything is like double rendering, I'm not really sure how to describe it but the screenshot will explain.

Let me know what files you need me to send so we can figure this out.

[2022-09-12 02:15] Skezao commented on #180
Nevermind, i'm a big goober, it was an issue with reshade, my bad.

[2022-09-12 08:27] LGhassen commented on #179
Ok well two things come to mind: the textures scatterer uses as flip flop buffers may not be 16bit (not sure about this I may have a switch for this), and the order operations are done may be so that the screen copy is done before bloom is applied, then antialiased results are copied to the screen after bloom is applied, removing it. I haven't checked to confirm these ideas.

[2022-09-12 08:28] LGhassen commented on #180
No problem, tganks for reporting the cause you found.

[2022-09-12 08:28] #180 closed

[2022-09-12 12:30] JonnyOThan commented on #179
My hunch is the first thing: a render target somewhere isn't being created as HDR when necessary.  If I enable scatterer's TAA and turn the bloom threshold way down, the bloom still functions.

[2022-09-12 13:37] LGhassen commented on #179
It appears to be the case https://github.com/LGhassen/Scatterer/blob/master/scatterer/Effects/AntiAliasing/TemporalAntiAliasing.cs#L162

Jus add an if(camera.hdr) and change argb32 to argbhalf in that case

[2022-09-12 16:24] LGhassen commented on #179
Yeah VR was the last thing on my mind when I adapted this 😅

[2022-09-12 21:43] MeTeOrMaSh15 commented on #170
TUFX has been uninstalled, the map view in flight still jitters with Scatterer TAA

[2022-09-13 13:42] LGhassen commented on #170
No clue since that doesn't happen on my end

[2022-09-18 22:21] penumbra779 opened #181 "Conflict with GPP 1.6.8.0"
Conflict with GPP 1.6.8.0

[2022-09-19 09:53] videopilot opened #182 "Scatterer overrides ambient settings"
Getting back to KSP after a couple years, I installed the latest Scatterer, and now the dark side of planets are black. I may be wrong but I seem to remember having Scatterer installed in the past and being able to still lighten the dark side of planets with the built-in ambient settings.

Is there a way to have the planets not be completely black with scatterer installed?

I'm trying to get a loo

[2022-09-19 10:13] videopilot commented on #182
Sorry never mind, I found it in the main settings.

[2022-09-19 11:10] #182 closed

[2022-09-19 11:10] LGhassen commented on #181
?

[2022-09-21 21:34] BrettRyland commented on #94
Hi, I know this thread is very old, but I just noticed the "Duplicate instance" error in the KSP.log and figured it was better to necro-post this here instead of opening a new issue.
Anyway, even with a single scatterer dll installed, this error is easy to trigger by going into the SPH or VAB, where the
[code]
in Scatterer.cs triggers multiple times for some reason, so `instance == null` is not a

[2022-09-22 08:46] LGhassen commented on #94
Thanks for the find @BrettRyland

[2022-09-23 08:45] LGhassen commented on #181
Closed due to no info, plus seems like a GPP issue.

[2022-09-23 08:45] #181 closed

[2022-09-25 19:45] WhirligigGirl opened #183 "planet scaledspace texture unloads sometimes when using kopernicus OnDemand loading"
This is an issue i've seen in several planet packs in several situations, and only ever when scatterer is installed and there is a scatterer atmosphere on that planet. sometimes when a texture is loading on demand (i.e., tabbing to a planet, going from surface to the map view), there will be a brief stutter (there usually is when dealing with ondemand loading) and the planet textures disappear.

I

[2022-09-25 20:00] LGhassen commented on #183
Yep it's totally due to adjustScaledTexture, I'm well aware of it. Recent changes on the dev branch may have fixed it although I haven't tested with Kopernicus for a while. You can try this dll and see if it makes any change: https://www80.zippyshare.com/v/WfABq3zD/file.html

[2022-09-29 16:24] GregroxMun opened #184 "Kopernicus rings render in front of Scatterer Atmospheres in scaledspace"
![screenshot580](https://user-images.githubusercontent.com/9667986/193084922-657c85dd-1245-4f53-8df3-3772fb4aa785.png)

(ignore the fact that she's purple--look at the rings where they go behind the planet.)

From the surface of planets, rings usually render correctly (though the ring shadows in the atmosphere look suspicious to me)

![image](https://user-images.githubusercontent.com/9667986/19308

[2022-09-30 08:33] LGhassen commented on #184
This is a duplicate of #53

A well-known issue that is not straightforward to fix

[2022-09-30 08:33] #184 closed

[2022-10-04 21:12] LGhassen opened #185 "Scaledtexture adjust still messes up the coast on Kerbin"
![image](https://user-images.githubusercontent.com/11978271/193930281-f2eb0f17-ca51-4586-a01e-301a42f4a665.png)

https://www.reddit.com/r/KerbalSpaceProgram/comments/xvbpmb/which_scatterer_setting_do_i_need_to_change_to/ir1fug0/

[2022-10-10 18:04] MeTeOrMaSh15 commented on #170
@LGhassen Update: I uninstalled basically every other graphics mod except scatterer and it still jitters in flightmap view and in spacecenter/flight view

[2022-10-13 07:30] Skyfinder84 opened #186 "Land disappear (v1.8.1)"
With or without any other mods, this happens:
https://preview.redd.it/wopiv7kjkdt91.png?width=2560&format=png&auto=webp&s=68d35eef85d643761c2f3485797d3353a5c6b066

Game version 1.8.1, RTX2080 ti, AMD 5950x, all graphic settings at higher level.

[2022-10-13 16:28] LGhassen commented on #186
Check you are not running dx12, and post a log file.

[2022-10-13 21:50] Skyfinder84 commented on #186
How check it? Where? I gave a look in the wiki, nothing about it.

[2022-10-14 08:30] LGhassen commented on #186
Google how to run ksp in dx12, usually people do it by adding parameters to the shortcut or im steam.

Also after your run the game attach your KSP.pog file here so I can check it.

[2022-10-14 11:03] Skyfinder84 commented on #186
I've add -force-d3d11 or force-d3d11, the bug persist. Now I'm using pretty well other mods, after a clean reinstall. I've tried to reinstall also scatterer too, as last mod, but even forcing DX11, same situation. Here the log:

[KSP.log](https://github.com/LGhassen/Scatterer/files/9785423/KSP.log)

[2022-10-14 16:06] LGhassen commented on #186
You're using the newest scatterer with KSP 1.8, it clearly says the newest scatterer is only comaptible with 1.9+

[2022-10-14 16:06] #186 closed

[2022-10-14 17:54] Skyfinder84 commented on #186
Oh Jesus! I'm very sorry! :( Too many things to read and understand, I don't get this, sorry for the disturb 😅

[2022-10-14 21:10] Skyfinder84 commented on #186
Anyway, I give another look to the page of the project... where is written that the newest is compatible only with 1.9?... I looking now release and nothing is written...

[2022-10-14 21:32] LGhassen commented on #186
Hmm It's written in the forum thread and spacedock. True that it isn't written on github.

[2022-10-22 18:28] gomker commented on #173
Not sure if this thread is about any NRE spams , I am seeing a lot from `scatterer.OceanNode.OnPreCull` ( Related #45 )

[code]

Seemed to happen when I was swithing up craft on Laythe.

Running latest scatter, can provide my full mod list / log if you think its needed.

[2022-10-24 03:24] #170 closed

[2022-10-24 13:27] LGhassen commented on #170
I think TAA is not working for you at all, I mean do you see any antialiasing on the image?

[2022-10-29 10:34] internetboyfriend666 opened #187 "Jittery grey concentric circles in gas giant atmospheres (Using RSS/RO)"
All the planets appear to have a gray haze and jittery grey cloud-like concentric circles in their atmospheres. It's present on all planets but only really noticeable on the gas giants. I'm playing with RSS/RO/RP1 using a correct CKAN express install. My machine is a Macbook pro M1 Max, 32gb RAM, running macOS Monterey 12.6. Scatterer version is 0.0838.

<img width="1728" alt="Screen Shot 2022-08-

[2022-10-29 12:55] LGhassen commented on #187
Only in map view?

[2022-10-29 12:55] LGhassen commented on #187
How do they jitter? Could you post a video?

[2022-10-30 13:45] LGhassen opened #188 "Stock ocean renders with custom ocean"
Reproducible with Vassa planet config from Niako

[2022-10-31 07:27] internetboyfriend666 commented on #187
No it's in map view and flight view. It gets better the closer you are to the body and worse the farther away you are. Please see this video: https://imgur.com/AQO25FK

[2022-11-02 20:12] VirtualGaming1 opened #189 "Invisible Ocean when ever I install the mod KSP 1.12.3 Mod V 3:v0838 according to CKAN"
So I have noticed that everytime I install Scatter. The water is invisible but it is still there like it did to #123 but try change the config and apply then restart the game and it is still there. Am I missing something or is there Known incompatibility that CKAN dose not have.

I am also using Galaxies Unbound A Stellar Odyssey also require Kopernicus (Just edited this part in just incase)
At th

[2022-11-02 21:15] VirtualGaming1 commented on #189
After Few bit more testing. I have notice that It have not been loading right. even in the map veiw the lighting look like just base game.

[2022-11-08 22:55] internetboyfriend666 commented on #187
Did you have a chance to look at this yet?

[2022-11-09 07:11] LGhassen commented on #187
No I have other priorities